/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
--accent-color: #FF0070;
--main-color: #F1B2CE;
--bg-color: #000028;
--title-color: #DB00FF;
--title-shadow-color: #FF0070;
--title-shadow-color-desktop: #FF0070;
--subtitle-color: #000028;
--text-content-title: #FF0070;
--main-font: 'IBM Plex mono', monospace;
--visible: visible;
--background-image: url(../images/cover-image-dark.png);
}